.places {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #ff5a5f;
}

.places .name_and_price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: row;
}

.places .price_by_night {
    height: 60px;
    font-size: 30px;
    min-width: 60px;
    border-radius: 50%;
    justify-content: center;
    color: #ff5a5f;
    display: flex;
    align-items: center;
    border: 4px solid #ff5a5f;
}

.places .information {
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-around;
  text-align: center;
}
.places .max_guest,
.places .number_rooms,
.places .number_bathrooms {
  width: 100px;
}

.places .user {
  margin: 20px auto 20px auto;
}

.places h1 {
  font-size: 30px;
  font-weight: bold;
  margin: .67em 0 .67em 0;
  width: 100%;
}
.places h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.places .amenities,
.places .reviews {
  margin-top: 40px;
}
.places .amenities li {
  display: flex;
  flex-direction: row;
}
.places .amenities i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 10px;
  width: 5%;
}
.places .amenities p {
  margin-top: 20px;
}
.places .amenities h2,
.places .reviews h2 {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: left;
}
.places .reviews h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 20px;
}

footer {
  position: relative;
}