.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #ff5a5f;
    display: inline-block;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    font-weight: bold;
    margin: .67em 0 .67em 0;
    padding-left: 22px;
}
.places h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}